<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 
 <welcome-file-list>
 <welcome-file>input.html</welcome-file>
 </welcome-file-list>
 
 <filter>
 <filter-name>performance</filter-name>
 <filter-class>com.nt.filters.PerformanceTestFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>performance</filter-name>
 <url-pattern>/check</url-pattern>
 </filter-mapping>
 
 
 
 
 <filter>
 <filter-name>time</filter-name>
 <filter-class>com.nt.filters.TimingCheckingFilter</filter-class> 
 </filter>
 <filter-mapping>
 <filter-name>time</filter-name>
 <url-pattern>/check</url-pattern>
 </filter-mapping>
 
 
 <filter>
 <filter-name>browser</filter-name>
 <filter-class>com.nt.filters.BrowserCheckingFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>browser</filter-name>
 <url-pattern>/check</url-pattern>
 </filter-mapping>
 
 
 
 
 
 <servlet>
	<servlet-name>check</servlet-name>
	<servlet-class>com.nt.servlet.MarriageServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>check</servlet-name>
<url-pattern>/check</url-pattern>
</servlet-mapping>

 <servlet>
	<servlet-name>home</servlet-name>
	<servlet-class>com.nt.servlet.HomePageServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>home</servlet-name>
<url-pattern>/homeurl</url-pattern>
</servlet-mapping>
</web-app>

